/* Estilos generales para el cuerpo de la aplicación */
#canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    background: #fff;
    max-width: 1030px;
    margin: 25px auto;
  }
  
  /* Estilos para el menú móvil */
  #mobilmenu {
    /* Agrega estilos específicos para el menú móvil si es necesario */
  }
  
  /* Estilos para el encabezado */
  #header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Estilos para el contenido principal */
  #page {
    width: 100%;
    padding: 20px;
  }
  
  /* Estilos para el pie de página */
  #footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Estilos para el menú dentro del encabezado */
  .p-menubar {
    background-color: #333; /* Color de fondo del menú */
    color: #fff; /* Color de texto del menú */
  }
  
  .p-menubar .p-menuitem-link {
    color: #fff; /* Color de texto de los ítems del menú */
  }
  
  .p-menubar .p-menuitem-link:hover {
    background-color: #555; /* Color de fondo al pasar el mouse sobre los ítems del menú */
  }
  
  /* Añade más estilos según sea necesario */
  